+++
title = "보이조"
linkTitle = "보이조"
+++

{{< blocks/cover title="환영합니다!" image_anchor="top" height="full" color="orange" >}}

<div class="mx-auto">
    <a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/about" >}}">
        자세히 알아보기 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
    </a>
    <a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://gitlab.com/boijo/">
        프로젝트 보러가기 <i class="fab fa-gitlab ml-2 "></i>
    </a>
	<p class="lead mt-5">보이조가 뭐지?</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
보이조는 누구나 손쉽게 따라하면서 ELK 스택으로 로그 통합 관리 시스템을 구축할 수 있도록 도와주는 서비스입니다.
{{% /blocks/lead %}}

{{< blocks/section color="dark" type="features">}}
{{% blocks/feature icon="fa-lightbulb" title="적용 사례" url="/cases/" %}}
많은 곳에서 로그 통합 관리 시스템을 사용하고 있습니다! 로그 통합 관리 시스템을 적용한 사례는 다음과 같습니다.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-lightbulb" title="로그 통합 관리 시스템 구축하기!" url="/docs/lastest/" %}}
단계별로 따라하면서 원하는 시스템들의 로그를 ELK 스택으로 통합 관리하기
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-question" title="질문해주세요!" url="https://groups.google.com/forum/#!forum/boijo" %}}
구글 그룹스에서 피드백을 하고 있습니다. 질문이나 요청할 것이 있다면 구글 그룹스에서 문의주세요!
{{% /blocks/feature %}}


{{< /blocks/section >}}

